<!DOCTYPE html>
<html>
<head>
    <title>SSH Client</title>
</head>
<body>
    <h1>SSH Client</h1>
    <form method="post" action="/connect">
        <label for="host">Host:</label>
        <input type="text" name="host" id="host" value="10.5.178.245"><br>
        <label for="port">Port:</label>
        <input type="text" name="port" id="port" value="22"><br>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" value="vinayrajan"><br>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password"><br>
        <input type="submit" value="Connect">
    </form>
</body>
</html>
